body {
    padding: 0;
    margin:0;
    font-family: 'Anek Odia', sans-serif;
}

#app-holder {
 display: flex;
 flex-direction: column;
}


.container {
    flex-grow: 1;
    padding: 0rem 1rem;
}

#navbar {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
}

.navtitle {
    font-size: large;
    font-weight: 700;
    padding: 1rem;
}

#navlinks {
    display: flex;
}

.navlink {
    padding: 1rem;
}

.navlink a{
    color: white;
}

.navlink a:visited {
    color: white;
}

.navlink a:hover {
    color: #ffcc00;
}

.titleHead {
    padding-top: 1rem;
}

.account-row {
    display: flex;
}

.account-row .header {
    flex-basis: 40%;
}

.account-row .bold {
    font-weight: 700;
}

.segment {
    padding: 1em;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.headline {
    font-weight: 500;
    padding: 0.8em 0em;
}

.headline a {
    color: black;
    text-decoration: none;
}

.headline a:hover {
    font-size: large;
    font-weight: 700;
    color: cornflowerblue;
}